<hr>
About You

<p>Your name is {{userName}} and you are a {{description}}. You live in {{location}}</p>
<p>You have {{followersCount}} Followers and {{friendsCount}} Friends</p>
<p>{{#link-to 'tweets'}}View the tweets you've sent{{/link-to}}</p>

{{outlet}}
