<hr>

<p>{{id}}</p>
<p>{{userName}}</p>
<p>{{description}}</p>
<p>{{retweetCount}}</p>
<p>{{location}}</p>
<p>{{followersCount}}</p>
<p>{{friendsCount}}</p>
<p>{{#link-to 'tweets'}}View the tweets you've sent{{/link-to}}</p>

{{outlet}}
